
@{
    ViewData["Title"] = "Dashboard";
}

@{
    var StudentName = ViewData["UserName"];
}

<h1 class="Center">Dashboard</h1>

<h4><b>Welcome @StudentName </b></h4>

<p>Please choose your quiz type from the below list</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="Center DashboardMargin">
        <div class="list-group list-margin">
            <button type="submit" name="submit" value="Intelligence" class="btn btn-primary btn-block Quiz-font">Intelligence</button>
            <button type="submit" name="submit" value="Aptitude" class="btn btn-info btn-block Quiz-font">Aptitude</button>
            <button type="submit" name="submit" value="Skills" class="btn btn-success btn-block Quiz-font">Skills</button>
            <button type="submit" name="submit" value="Values" class="btn btn-danger btn-block Quiz-font">Values</button>
            <button type="submit" name="submit" value="Personality" class="btn btn-warning btn-block Quiz-font">Personality</button>
            <button type="submit" name="submit" value="Interest" class="btn btn-info btn-block Quiz-font">Interest</button>
        </div>
    </div>
}